<h2>My Bookings</h2>

<%  @bookings.each do |booking| %>
      <div class="booking-card-product mt-1">
        <%= image_tag(booking.venue.image) %>
        <div class="booking-card-product-infos">
          <h2><%= booking.venue.name %></h2>
          <p><i class="fas fa-clock"></i> <%= booking.date%> at <%= booking.time %></p>
          <p> <i class="fas fa-user"></i>

</i> Table for <%= booking.number_of_people%> people</p>
          <span><%= link_to "Modify", edit_venue_booking_path(booking.venue.id, booking) %></span>
          <span><%= link_to "Cancel", booking_path(booking), method: :delete, id: "sweet-alert-delete" %></span>
        </div>
      </div>
<% end %>

<%# .strftime("%d/%m/%y")
.strftime("%H:%M") %>
