<h2>My Bookings</h2>

<%  @bookings.each do |booking| %>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= booking.venue.name %></h2>
    <p><%= booking.date.strftime("%d/%m/%Y")  %> at <%= booking.time.strftime("%H:%M")%></p>
    <p>Table for <%= booking.number_of_people%> people</p>
    <span><%= link_to "Edit", edit_venue_booking_path(booking.venue.id, booking) %></span>
    <span><%= link_to "Delete", booking_path(booking), method: :delete %></span>
  </div>
</div>
<% end %>
