
 <div class="home-banner">
  <div class="home-container">
    <div class="content-box">
      <h1>Caesar</h1>
      <h2>Conquer Your World</h2>



        <div>
          <div class= "home-search">
          <%= form_tag venues_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for anything"
          %>
          </div>
        <% end %>
      </div>
      <div class="button-home">
      <a class="purple-button">Search</a>
      </div>
      <%# <a class="home-search-btn">Search</a> %>

    </div>
    <div id="img-flex-home">
    <%= image_tag "eating-together.png", alt: "Two people eating together", width: 400 %>
    </div>
  </div>
</div>



<div class="visioncards d-flex justify-content-between">
  <div class="visioncard">
    <%= image_tag "visioncards.png", class: "vision-img" %>
    <div class="container">
     <div class= "visiontext">
      <h4><b>"Removing social barriers"</b></h4>
      </div>
    </div>
  </div>
  <div class="visioncard">
    <%= image_tag "visioncards1.png", class: "vision-img1" %>
    <div class="container">
    <div class= "visiontext1">
      <h4><b>"Accessability and inclusivity"</b></h4>
     </div>
    </div>
  </div>
  <div class="visioncard">
    <%= image_tag "visioncards2.png", class: "vision-img2" %>
    <div class="container">
      <div class= "visiontext2">
      <h4><b>"Having a good time!"</b></h4>
      </div>
    </div>
  </div>
</div>




  <div class="home-wrapper">
    <div id="caesar-search-box">
      <div id="caesar-search-img">
        <%= image_tag "location-search.png", alt: "Woman searching for venues on phone", width: 400 %>
      </div>
      <div id="caesar-search-h2">
        <h2><blockquote>Search for your new favourite venue using our accessibility filters</blockquote></h2>
    </div>
  </div>
  <div id="caesar-review-box">
    <div id="caesar-review-h2">
      <h2><blockquote>Leave reviews and let the community know which venues are accessible</blockquote></h2>
    </div>
    <div id="caesar-review-img">
      <%= image_tag "review-person.png", alt: "Person leaving adding stars on a review", width: 300 %>
    </div>
  </div>
  </div>



<p><%= link_to "See all venues", venues_path %></p>
<%# hello %>
