
 <div class="home-banner">
  <svg class="curve-style" width="750" height="650" viewBox="0 0 642 555" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path opacity="0.37" d="M0 0H642V0C642 306.518 393.518 555 87 555H6.35643C2.84587 555 0 552.154 0 548.644V0Z" fill="#6C63FF"/>
  </svg>
  <div class="home-container">
    <div class="content-box">
      <h1>Caesar</h1>
      <h2>Conquer Your World</h2>
        <div class= "home-search">
        <%= form_tag venues_path, method: :get do %>
        <%= text_field_tag :search,
          params[:search],
          class: "form-control",
          placeholder: "Search for anything"
        %>
        <%= button_tag "Search", class: "button-home purple-button" do %>
        <span>Search</span>
        <% end %>
        </div>
      <% end %>
    </div>
    <div id="img-flex-home">
    <%= image_tag "eating-together.png", alt: "Two people eating together", width: 400 %>
    </div>
  </div>
</div>



<h1 id="caesar-values">Our Values</h1>
<div class="visioncards">
  <div id="vision-one" class="visioncard">
    <%= image_tag "visioncards.png", class: "vision-img" %>
    <div class="container">
     <div class= "visiontext">
      <h4>Removing social barriers</h4>
      </div>
    </div>
  </div>
  <div class="visioncard">
    <%= image_tag "visioncards1.png", class: "vision-img1" %>
    <div class="container">
    <div class= "visiontext1">
      <h4>Accessibility and inclusivity</h4>
     </div>
    </div>
  </div>
  <div class="visioncard">
    <%= image_tag "visioncards2.png", class: "vision-img2" %>
    <div class="container">
      <div class= "visiontext2">
      <h4>Having a good time!</h4>
      </div>
    </div>
  </div>
</div>




  <div class="home-wrapper" style="background-image: url( <%= asset_url 'New-background-image.svg' %>)">
    <div id="caesar-search-box">
    <div id="caesar-search-img">
      <%= image_tag "location-search.png", alt: "Woman searching for venues on phone", width: 400 %>
    </div>
    <div id="caesar-search-h2">
      <h2>Search for your new favourite venue using <%= link_to "our accessibility filters", filters_explained_path %></h2>
    </div>
  </div>
  <div id="caesar-review-box">
    <div id="caesar-review-h2">
      <h2>Leave reviews and let the community know which venues are accessible</h2>
    </div>
    <div id="caesar-review-img">
      <%= image_tag "review-person.png", alt: "Person leaving adding stars on a review", width: 300 %>
    </div>

  </div>
    <%= link_to "Back to Top", root_path, class: 'back-top-button' %>
  </div>



<%# <p><%= link_to "See all venues", venues_path</p> %>
<%# hello %>
