  <div class="venues-card-container" style= color: $blue;>
      <h1 class="venue-header">Venues in your area</h1>

      <% @venues.each do |venue| %>
      <div  class="venue-index-card">
      <%= image_tag(venue.image) %>
          <div class="venue-index-card-infos">
            <h2><%= venue.name  %></h2>
            <p><%= venue.venue_type %></p>
            <p class="venue-text"><%= venue.venue_attribute %> <%= venue.icon.html_safe %></p>
              <div class="star-style">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              </div>
            <h2><%= link_to "Find out more", venue_path(venue),  class: 'purple-button', id: 'card-index-button'  %></h2>
          </div>
      </div>
      <% end  %>
  </div>
