 <div class="show-container">
  <div class="show-title-content">
    <h1><%= @venue.name %><i class="fas fa-utensils"></i></h1>
    <span><%= link_to "Book now", new_venue_booking_path(@venue), class: 'purple-button' %></span>
  </div>

  <div class="top-show-content">
    <div id="carouselExampleControls" class="carousel slide w-50" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag @venue.photos[0], class: 'd-block w-100', alt: 'First Slide' %>
        </div>
        <div class="carousel-item">
          <%= image_tag @venue.photos[1], class: 'd-block w-100', alt: 'Second slide' %>
        </div>
        <div class="carousel-item">
          <%= image_tag @venue.photos[2], class: 'd-block w-100', alt: 'Third Slide' %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="show-description">
      <div class="venue-attributes-orange">
        <% @venue.venue_attribute.each do |attr|%>
        <div class="d-flex">
          <%= attr %>
          <%= @venue.icon(attr).html_safe%>
        </div>
        <% end %>
      </div>
      <h2><%= @venue.venue_type %></h2>
      <h3>"<%= @venue.description  %>"</h3>

      </div>
    </div>
  </div>
</div>
<hr>
  <div class="review-container">
    <h2>Location & Hours</h2>
    <div class="map-container">
      <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
        <h6 class="address"><i class="fas fa-map-marker-alt"></i>  <%= @venue.address.chomp(", United Kingdom")%></h6>
    </div>
  </div>


<hr>
<div class="review-container">
  <h2>Reviews</h2>
    <div class="user-reviews-container">
      <% @venue.reviews.each do |review| %>
        <div class="outer-wrapper">
          <div class="each-review-box">
          <% if review.user.avatar.attached? %>
            <% cl_image_tag review.user.avatar.key , class: "avatar review-avatar" %>
          <% else %>
            <%= cl_image_tag "images_aqhfrv", class: "avatar review-avatar" %>
          <% end %>
            <p> <%= review.user.first_name %> said:</p>
            <p> "<%= review.description %>"</p>
              <div class="review-stars">
              <% review.rating.times do %>
                <span class="fa fa-star checked"></span>
              <% end %>
              <% (5 - review.rating).times do %>
                <span class="fa fa-star"></span>
              <% end %>
              </div>

          </div>
        </div>
      <% end %>
    </div>
  <div class="add-reviews-container">
    <h4>Add a review</h4>
      <div class="reviews-box">
        <%= simple_form_for [ @venue,@review ] do |f| %>
          <div class="input-box">
            <%= f.input :description, label: "How was your visit to #{@venue.name}?"%>
            <%= f.input :rating, collection: (1..5).to_a, label: 'Give a rating from 1 to 5!' %>
          </div>
          <%= f.submit 'Submit Review', class: 'orange-button'%>
        <% end %>
      </div>
  </div>


</div>
