 <div class="show-container">
  <div class="show-title-content">
    <h1><%= @venue.name %><i class="fas fa-utensils"></i></h1>
    <span><%= link_to "Book now", new_venue_booking_path(@venue), class: 'purple-button' %></span>
  </div>

  <div class="top-show-content">
    <div id="carouselExampleControls" class="carousel slide w-50" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "relax.jpg", class: 'd-block w-100', alt: 'First Slide' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "crunch.jpg", class: 'd-block w-100', alt: 'Second slide' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "birdseye.jpg", class: 'd-block w-100', alt: 'Third Slide' %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="show-description">
      <h2 class="venue-attributes-orange"><%= @venue.venue_attributes %><i class="fas fa-check-circle"></i></h2>
      <h2><%= @venue.venue_type %></h2>
      <h4><%= @venue.address %></h4>
      <h3>"<%= @venue.description  %>"</h3>
      <p><%= @venue.venue_attribute %><i class="fas fa-check-circle"></i></p>

      </div>
    </div>
  </div>
</div>


<hr>
<div class="review-container">
  <h2>User Reviews</h2>
    <div class="user-reviews-container">
      <% @venue.reviews.each do |review| %>
        <div class="outer-wrapper">
          <div class="each-review-box">
          <% if review.user.avatar.attached? %>
            <% cl_image_tag review.user.avatar.key , class: "avatar review-avatar" %>
          <% else %>
            <%= cl_image_tag "images_aqhfrv", class: "avatar review-avatar" %>
          <% end %>
            <p> <%= review.user.first_name %> said:</p>
            <p> "<%= review.description %>"</p>

            <p> <%= review.rating %>/100</p>
          </div>
        </div>
      <% end %>
    </div>
  <div class="add-reviews-container">
    <h4>Add a review</h4>
      <div class="reviews-box">
        <%= simple_form_for [ @venue,@review ] do |f| %>
          <div class="input-box">
            <%= f.input :description, label: "How was your visit to #{@venue.name}?"%>
            <%= f.input :rating, label: 'Give a rating out of 100!' %>
          </div>
          <%= f.submit 'Submit Review', class: 'orange-button'%>
        <% end %>
      </div>
  </div>
</div>
